@{
    ViewBag.Title = "Home Page";
    
}

<div class="row">
    <div class="col-md-8">
        <h2>Login</h2>
        <form action="@Url.Action("getQR")" method="post">
            <table class="table table-responsive">
                <tr>
                    <td>User Name</td>
                    <td>
                        <input type="text" name="username" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <td>Password</td>
                    <td>
                        <input type="password" name="password" class="form-control" required />
                    </td>
                </tr>
                <tr>
                    <td colspan="2">
                        <button class="btn btn-sm btn-primary">Login</button>
                    </td>
                </tr>
            </table>
        </form>
    </div>
</div>